/* div dibaide */
.grding{
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 221px;
}



.hero-section {
    margin-left: 44px;
}
.card-button{
    width: 185px;
    margin-left: 33px;
}



.card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 8px;
    row-gap: 20px;
}

.card-child {
    width: 250px;
    height: 242px;
    background-color: white;
    border-radius: 12px;
    filter: drop-shadow(0 0 0.75rem rgb(224, 224, 224));
}

.card-child-1 {
    display: grid;
    grid-template-columns: 100px 50px 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card-tittle-1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.card-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}
#blog-button a{
    color: white;
}
footer{
    width: 1263px;
}