/* this is google font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Exo+2:wght@100&family=Finlandica:ital@1&family=Merienda+One&family=Michroma&family=Poppins:wght@500&display=swap');
/* this is google font */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}


/*------------------ hero-section css style start here 

---------------------------------------------------------*/
.hero-section {
    width: 1200px;
    height: 586px;
    background: #161616;
    border-radius: 30px;
    margin-bottom: 130px;
    margin-top: 10px;
    margin-left: 40px;
 
}



.flex-content {
    display: flex;
    justify-content: center;

}

.hero-content {
    width: 40%;

}

.hero-content img {
    width: 116%;
}


.content-info {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
}

.content-info-1 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.content-info-2 {
    background: #DD0000;
    border-radius: 5px;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;

}

/* --------------------------card seection style css start here

----------------------------------------------------------------*/
.final-card {
    display: flex;
    gap: 12px;
    justify-content: center;




}

.button-item {
    text-align: center;
    padding: 15px 11px 21px 22px;


}

.button {
    background: #161616;
    border-radius: 10px;
    width: 292px;
    height: 312px;


}

.card-button {
    background: #FFFFFF;
    border-radius: 10px;
    width: 252px;
    height: 64px;

}

.card-button a {
    text-decoration: none;
    color: #161616;
}

#blog-button {
    background: #DD0000;
    color: #FFFFFF;
}
#blog-button a{
    color: white;
}

/*--------------------------------------- grid related css style here
--------------------------------------------------------------------- */


.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 66px;
    justify-items: center;
    column-gap: 15px;
}


.sub-card {
    width: 291px;
    height: 362px;
    background-color: white;

    border-radius: 12px;
    filter: drop-shadow(0 0 0.75rem rgb(224, 224, 224));
}
.sub-card img{
    width: 100%;
}

.card-button-1 {
    width: 67px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-left: 20px;
}

.card-button-1 a {
    text-decoration: none;
    color: black;
}

.card-titlte {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 20px;
}

.icon-flex {
    display: flex;


}

.icon {
    margin-right: 30px;
    margin-left: 20px;
}

/* footter section css here */
footer {
    width: 1263px;
    height: 300px;
    background: #161616;

}

.goal {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 40px;


}

.foter-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
}